.about_us__wrapper
{  
  max-width: 1440px;
  padding: 0 120px;
  margin: 50px auto;
  font-family: "Inter", sans-serif;
}
.about_us__wrapper h2
{
  font-size: 48px;
  letter-spacing: 0.1em;
}
.about_us__container 
{
  margin: 30px 0;
}
.about_us__container h4 
{
  margin: 20px 0;
  letter-spacing: 0.05em;
  font-size: 36px;
}
.about_us__container p 
{
  padding: 10px 0;
  font-size: 16px;
  text-align: justify;
}
.answer-container{
  max-width: 720px;
}
.answer-container .answer-body {
    max-width: 720px;
    margin: 0 auto;
    height: 0;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: padding 0.5s;
    font-size: 16px;
    border-bottom: 1px solid #181818;
}
.answer-container label {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    width: 100%;
    font-weight: 500;
    box-sizing: border-box;
    z-index: 100;
    font-size: 18px;
    transition: color .35s;
    border-bottom: 1px solid #181818;
}
.answer-container label:hover {
    font-weight: 900;
}
.answer-container input{
    display: none;
}
.answer-container label:before {
    content: '\276F';
    float: right;
}
.answer-container input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.answer-container input:checked + label + .answer-body {
    height: auto;
    margin-top: -10px;
    padding: 8px 35px ;
}

  