.authentification__container
{
    max-width: 70%;
    margin: 50px auto;
    font-family: "Inter", sans-serif;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 5px;
}
.authentification__container h4
{
    margin: 20px 0;
    padding-top: 20px;
    letter-spacing: 0.05em;
    font-size: 36px;
}
input
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 7px;
    margin: 15px auto;
    padding: 8px 10px;
    width: 70%;
    font-size: 18px;
    background-color: #e6e6e6;
    color: #5c5c5c;
}
button
{
    margin: 20px 0;
    font-size: 20px;
    border-radius: 7px;
    color: #ffffff;
    background-color: #282828;
    padding: 10px 15px;
}
button:hover
{
    background-color: #181818;
    cursor: pointer;
}
.parametrs
{
    display: flex;
    margin: 0 100px;
    justify-content: space-around;
    text-decoration: none;
}
.parametrs a
{
    margin: 40px;
    font-size: 20px;
    color: #181818;
}
.parametrs a:hover
{
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    .authentification__container h4
    {
        letter-spacing: 0.02em;
        font-size: 30px;
    }
    input
    {
        height: 40px;
        font-size: 16px;
    }
    button
    {
        padding: 7px 10px;
        font-size: 16px;
    }
    .parametrs
    {
        margin: 0 40px;
    }
    .parametrs a
    {
        margin: 20px;
        font-size: 14px;
    }
}
@media screen and (max-width: 551px){
    .authentification__container h4
    {
        letter-spacing: 0.015em;
        font-size: 20px;
    }
    input
    {
        height: 30px;
        font-size: 14px;
        border-radius: 15px;
    }
    button
    {
        margin: 10px 0;
        padding: 5px 8px;
        font-size: 14px;
        border-radius: 15px;
    }
    .parametrs a
    {
        font-size: 11px;
        margin: 10px;
    }
}