.cart
{
    max-width: 80%;
    margin: 50px auto;
    font-family: "Inter", sans-serif;
}
.cart h2 
{
    font-size: 48px;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}
.cart_container
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.tovar
{
    background-color: aqua;
    width: 80%;
    aspect-ratio: 3/4;
    margin: 20px 0;
}
.cart label, .cart select
{
    font-size: 18px;
    letter-spacing: 0.025em;
}
.cart select, .set_an_order button
{
    background-color: #181818;
    color: white;
    border-radius: 8px;
}
.set_an_order
{
    margin-top:20px;
    display: flex;
    justify-content: center;
}
.set_an_order button
{
    padding: 10px 15px;
    font-size: 14px;
    justify-content: center;
}
.set_an_order button:hover{
    background-color: black;
    cursor: pointer;
}
  @media screen and (max-width: 900px) {
    .cart {
      margin: 40px auto;
    }
    .cart h2 
    {
      font-size: 42px;
    }
    .cart label, .cart select
    {
      font-size: 15px;
      letter-spacing: 0.020em;
    }
    .cart_container
    {  
      grid-template-columns: repeat(3, auto);
    }
    .set_an_order button
    {
      padding: 8px 10px;
    }   
  }
  @media screen and (max-width: 551px) {
    .cart {
      margin: 30px auto;
    }
    .cart h2 
    {
      font-size: 36px;
    }
    .cart label, .cart select
    {
      font-size: 13px;
      letter-spacing: 0.005em;
    }
    .cart_container
    {  
      grid-template-columns: repeat(2, auto);
    }
    .set_an_order button
    {
      padding: 8px 10px;
      font-size: 12px;
    }  
  }
  