.wrapper {
  max-width: 1440px;
  padding: 60px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.product {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product__photos {
  margin-right: 40px;
  max-width: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5%;
  row-gap: 20px;
}
.product__photos .main__photo {
  grid-column: span 4;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  position: relative;
}
.product__photos .main__photo img {
  transition: opacity 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.product__photos img {
  max-width: 100%;
  transition: opacity 0.3s;
  aspect-ratio: 1 / 1;
}
.product__photos img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.product__content {
  max-width: 500px;
  width: 100%;
}
.product__content h4 {
  font-size: 48px;
  letter-spacing: 0.1em;
}
.product__content .product__rating {
  margin: 15px 0;
  font-size: 20px;
}
.product__content .product__price {
  margin: 20px 0;
  font-size: 36px;
  font-weight: 500;
}
.product__content .product__short {
  margin-top: 30px;
}
.product__content .product__short p {
  margin: 10px 0;
  text-align: justify;
  line-height: 150%;
  font-size: 18px;
}
.product__content .product__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product__section {
  margin: 30px 0;
}
.product__section h4 {
  font-size: 36px;
}
.product__section p {
  margin-top: 20px;
  font-size: 18px;
  text-align: justify;
  line-height: 150%;
}
.product__section ul {
  max-width: 700px;
  width: 100%;
}
.product__section ul li {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product__section ul li span {
  font-size: 18px;
}
.comments__container {
  width: 100%;
}
.comment {
  margin-top: 60px;
  max-width: 900px;
  width: 100%;
}
.comment .user {
  display: flex;
  align-items: center;
}
.comment .user .avatar {
  width: 50px;
  height: 50px;
  background: #5f5f5f;
  border-radius: 50%;
  /*? maybe yes or not*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment .user .data {
  margin-left: 20px;
}
.comment .user .data .name {
  font-size: 18px;
}
.comment .text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 150%;
  text-align: justify;
}
.comment .images {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.comment .images img {
  transition: opacity 0.3s;
  width: 200px;
  aspect-ratio: 3 / 2;
}
.comment .images img:hover {
  cursor: zoom-in;
  opacity: 0.8;
}
@media screen and (max-width: 900px) {
  .wrapper {
    padding: 0 30px;
  }
  .product__content h4 {
    font-size: 36px;
  }
  .product__content .product__rating {
    font-size: 18px;
  }
  .product__content .product__price {
    margin: 10px 0;
    font-size: 28px;
  }
  .product__content .product__short {
    margin-top: 10px;
  }
  .product__content .product__short p {
    font-size: 16px;
  }
  .product__section h4 {
    font-size: 30px;
  }
  .product__section p {
    font-size: 16px;
  }
  .comment .text {
    font-size: 16px;
  }
  .comment .images img {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    align-items: center;
  }
  .product__photos {
    width: 50%;
    margin: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 5%;
  }
  .product__photos .main__photo {
    grid-row: span 4;
  }
  .product__content {
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  .product__content h4 {
    font-size: 28px;
  }
  .product__content .product__rating {
    margin: 8px 0;
  }
  .product__content .product__price {
    font-size: 24px;
  }
  .product__content .product__short p {
    font-size: 14px;
  }
  .product__section {
    margin: 15px 0;
  }
  .product__section h4 {
    font-size: 24px;
  }
  .product__section p {
    font-size: 14px;
  }
  .product__section ul li span {
    font-size: 16px;
  }
  .comment {
    margin-top: 30px;
  }

  .comment .user .avatar {
    width: 32px;
    height: 32px;
  }
  .comment .user .data .name {
    font-size: 14px;
  }
  .comment .text {
    font-size: 14px;
  }
}
@media screen and (max-width: 525px) {
  .product__photos {
    width: 75%;
  }
  .comment .text {
    margin-top: 10px;
  }
  .comment .images img {
    width: 100px;
  }
}
