
.wrapper
{
    max-width: 1440px;
    padding: 0 120px;
    margin: 50px auto;
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;
    font-weight: 400;
}
.container
{
    margin: 30px 0;
    text-align: justify;
}
h2
{
    font-size: 48px;
}
h4
{
    font-size: 36px;
}
.container h4
{
    margin: 20px 0;
}
p
{
    padding: 5px 0;
}