* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*? for scroll-snaping */
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/*! varibles - fonts/colors/viewportIndexes */
